# Window Functions

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the same database as in the Day 1 practice.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.


**NOTE**: These queries are more complex that the previous day's.
If you get stuck on one, skip and come back to it later.


**NOTE**: For this notebook, it is desired taht you construct solutions using Window Functions.

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

# 1

### For the following customers: list each movie they have rented, its `film.rental_duration`, and the comparison of the  `film.rental_duration` versus their average `rental` duration `(return_date  - rental_date)` as a column named `cmp`.

Customer IDs: 
  * 318
  * 110
  * 281
  * 61

In [2]:
%%sql
EXPLAIN

SELECT r.customer_id, f.title, f.rental_duration,
(f.rental_duration - AVG(r.return_date::date - r.rental_date::date) OVER (PARTITION BY r.customer_id)) AS cmp
FROM rental r
JOIN inventory USING (inventory_id)
JOIN film f USING (film_id)
WHERE r.customer_id IN (318, 110, 281, 61)
AND r.return_date IS NOT NULL

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
12 rows affected.

[('WindowAgg  (cost=542.34..545.40 rows=102 width=51)',),
 ('  ->  Sort  (cost=542.34..542.60 rows=102 width=35)',),
 ('        Sort Key: r.customer_id',),
 ('        ->  Nested Loop  (cost=392.21..538.94 rows=102 width=35)',),
 ('              ->  Hash Join  (cost=391.93..503.85 rows=102 width=20)',),
 ('                    Hash Cond: (inventory.inventory_id = r.inventory_id)',),
 ('                    ->  Seq Scan on inventory  (cost=0.00..70.81 rows=4581 width=6)',),
 ('                    ->  Hash  (cost=390.66..390.66 rows=102 width=22)',),
 ('                          ->  Seq Scan on rental r  (cost=0.00..390.66 rows=102 width=22)',),
 ("                                Filter: ((return_date IS NOT NULL) AND (customer_id = ANY ('{318,110,281,61}'::integer[])))",),
 ('              ->  Index Scan using film_pkey on film f  (cost=0.28..0.34 rows=1 width=21)',),
 ('                    Index Cond: (film_id = inventory.film_id)',)]

In [3]:
%%sql

SELECT r.customer_id, f.title, f.rental_duration,
(f.rental_duration - AVG(r.return_date::date - r.rental_date::date) OVER (PARTITION BY r.customer_id)) AS cmp
FROM rental r
JOIN inventory USING (inventory_id)
JOIN film f USING (film_id)
WHERE r.customer_id IN (318, 110, 281, 61)
AND r.return_date IS NOT NULL

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
54 rows affected.

[(61, 'Necklace Outbreak', 3, Decimal('-3.0000000000000000')),
 (61, 'Iron Moon', 7, Decimal('1.0000000000000000')),
 (61, 'Fireball Philadelphia', 4, Decimal('-2.0000000000000000')),
 (61, 'Impact Aladdin', 6, Decimal('0E-16')),
 (61, 'Autumn Crow', 3, Decimal('-3.0000000000000000')),
 (61, 'Smoochy Control', 7, Decimal('1.0000000000000000')),
 (61, 'Barefoot Manchurian', 6, Decimal('0E-16')),
 (61, 'Ridgemont Submarine', 3, Decimal('-3.0000000000000000')),
 (61, 'Voyage Legally', 6, Decimal('0E-16')),
 (61, 'Reign Gentlemen', 3, Decimal('-3.0000000000000000')),
 (61, 'Vacation Boondock', 4, Decimal('-2.0000000000000000')),
 (61, 'Anonymous Human', 7, Decimal('1.0000000000000000')),
 (61, 'Remember Diary', 5, Decimal('-1.0000000000000000')),
 (61, 'Notting Speakeasy', 7, Decimal('1.0000000000000000')),
 (110, 'Packer Madigan', 3, Decimal('-1.3571428571428571')),
 (110, 'Brotherhood Blanket', 3, Decimal('-1.3571428571428571')),
 (110, 'Comforts Rush', 3, Decimal('-1.3571428571428571')),
 (110, 'Vanishing Rocky', 3, Decimal('-1.3571428571428571')),
 (110, 'Wife Turn', 3, Decimal('-1.3571428571428571')),
 (110, 'Cowboy Doom', 3, Decimal('-1.3571428571428571')),
 (110, 'Highball Potter', 6, Decimal('1.6428571428571429')),
 (110, 'Jericho Mulan', 3, Decimal('-1.3571428571428571')),
 (110, 'Juggler Hardly', 4, Decimal('-0.3571428571428571')),
 (110, 'Moonshine Cabin', 4, Decimal('-0.3571428571428571')),
 (110, 'Paths Control', 3, Decimal('-1.3571428571428571')),
 (110, 'Prix Undefeated', 4, Decimal('-0.3571428571428571')),
 (110, 'Rocky War', 4, Decimal('-0.3571428571428571')),
 (110, 'Bound Cheaper', 5, Decimal('0.6428571428571429')),
 (281, 'Wardrobe Phantom', 6, Decimal('0.5000000000000000')),
 (281, 'Atlantis Cause', 6, Decimal('0.5000000000000000')),
 (281, 'Doom Dancing', 4, Decimal('-1.5000000000000000')),
 (281, 'Bride Intrigue', 7, Decimal('1.5000000000000000')),
 (281, 'Packer Madigan', 3, Decimal('-2.5000000000000000')),
 (281, 'Club Graffiti', 4, Decimal('-1.5000000000000000')),
 (281, 'Wisdom Worker', 3, Decimal('-2.5000000000000000')),
 (281, 'Graduate Lord', 7, Decimal('1.5000000000000000')),
 (281, 'Dynamite Tarzan', 4, Decimal('-1.5000000000000000')),
 (281, 'Tights Dawn', 5, Decimal('-0.5000000000000000')),
 (281, 'Juggler Hardly', 4, Decimal('-1.5000000000000000')),
 (281, 'Rage Games', 4, Decimal('-1.5000000000000000')),
 (281, 'Language Cowboy', 5, Decimal('-0.5000000000000000')),
 (281, 'Blanket Beverly', 7, Decimal('1.5000000000000000')),
 (318, 'Valley Packer', 3, Decimal('-1.8333333333333333')),
 (318, 'Bonnie Holocaust', 4, Decimal('-0.8333333333333333')),
 (318, 'Duffel Apocalypse', 5, Decimal('0.1666666666666667')),
 (318, 'High Encino', 3, Decimal('-1.8333333333333333')),
 (318, 'Hobbit Alien', 5, Decimal('0.1666666666666667')),
 (318, 'Montezuma Command', 6, Decimal('1.1666666666666667')),
 (318, 'Pelican Comforts', 4, Decimal('-0.8333333333333333')),
 (318, 'Side Ark', 5, Decimal('0.1666666666666667')),
 (318, 'Sleepy Japanese', 4, Decimal('-0.8333333333333333')),
 (318, 'Tenenbaums Command', 4, Decimal('-0.8333333333333333')),
 (318, 'American Circus', 3, Decimal('-1.8333333333333333')),
 (318, 'Vampire Whale', 4, Decimal('-0.8333333333333333'))]

[Helpful Hints Video](https://youtu.be/cm1_d1qWLhg)  
 

--- 

# 2

### For each store (inventory.store_id), list the top three films that have been rented based on accumulated rental durations.

Hint: Use the `rank()` function and a derived table

In [6]:
%%sql
EXPLAIN

SELECT store_id, film_id, duration, rank
FROM (
    SELECT i.store_id, i.film_id,
    SUM(r.return_date - r.rental_date) AS duration,
        RANK() OVER (PARTITION BY i.store_id
        ORDER BY SUM(r.return_date - r.rental_date) DESC)
    FROM inventory i
    JOIN rental r USING (inventory_id)
    WHERE r.return_date IS NOT NULL
    GROUP BY i.store_id, i.film_id
) AS a
WHERE RANK <= 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
13 rows affected.

[('Subquery Scan on a  (cost=695.81..726.95 rows=319 width=28)',),
 ('  Filter: (a.rank <= 3)',),
 ('  ->  WindowAgg  (cost=695.81..714.97 rows=958 width=28)',),
 ('        ->  Sort  (cost=695.81..698.21 rows=958 width=20)',),
 ('              Sort Key: i.store_id, (sum((r.return_date - r.rental_date))) DESC',),
 ('              ->  HashAggregate  (cost=638.79..648.37 rows=958 width=20)',),
 ('                    Group Key: i.store_id, i.film_id',),
 ('                    ->  Hash Join  (cost=128.07..480.18 rows=15861 width=20)',),
 ('                          Hash Cond: (r.inventory_id = i.inventory_id)',),
 ('                          ->  Seq Scan on rental r  (cost=0.00..310.44 rows=15861 width=20)',),
 ('                                Filter: (return_date IS NOT NULL)',),
 ('                          ->  Hash  (cost=70.81..70.81 rows=4581 width=8)',),
 ('                                ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=8)',)]

In [7]:
%%sql

SELECT store_id, film_id, duration, rank
FROM (
    SELECT i.store_id, i.film_id,
    SUM(r.return_date - r.rental_date) AS duration,
        RANK() OVER (PARTITION BY i.store_id
        ORDER BY SUM(r.return_date - r.rental_date) DESC)
    FROM inventory i
    JOIN rental r USING (inventory_id)
    WHERE r.return_date IS NOT NULL
    GROUP BY i.store_id, i.film_id
) AS a
WHERE RANK <= 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
6 rows affected.

[(1, 971, datetime.timedelta(days=111, seconds=37260), 1),
 (1, 109, datetime.timedelta(days=105, seconds=51420), 2),
 (1, 852, datetime.timedelta(days=104, seconds=33540), 3),
 (2, 552, datetime.timedelta(days=104, seconds=62700), 1),
 (2, 891, datetime.timedelta(days=100, seconds=68700), 2),
 (2, 491, datetime.timedelta(days=100, seconds=29640), 3)]

[Helpful Hints Video](https://youtu.be/COQem8x3kR4)  
 

--- 

# 3

### For each category, list the three longest movies

In [11]:
%%sql
EXPLAIN

SELECT name, title, length, RANK
FROM (
    SELECT name, title, length,
    RANK() OVER (PARTITION BY name ORDER BY length DESC)
    FROM category
    JOIN film_category USING (category_id)
    JOIN film USING (film_id)
) AS a
WHERE RANK <= 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
14 rows affected.

[('Subquery Scan on a  (cost=149.64..182.14 rows=333 width=93)',),
 ('  Filter: (a.rank <= 3)',),
 ('  ->  WindowAgg  (cost=149.64..169.64 rows=1000 width=93)',),
 ('        ->  Sort  (cost=149.64..152.14 rows=1000 width=85)',),
 ('              Sort Key: category.name, film.length DESC',),
 ('              ->  Hash Join  (cost=77.86..99.81 rows=1000 width=85)',),
 ('                    Hash Cond: (film_category.film_id = film.film_id)',),
 ('                    ->  Hash Join  (cost=1.36..20.67 rows=1000 width=70)',),
 ('                          Hash Cond: (film_category.category_id = category.category_id)',),
 ('                          ->  Seq Scan on film_category  (cost=0.00..16.00 rows=1000 width=4)',),
 ('                          ->  Hash  (cost=1.16..1.16 rows=16 width=72)',),
 ('                                ->  Seq Scan on category  (cost=0.00..1.16 rows=16 width=72)',),
 ('                    ->  Hash  (cost=64.00..64.00 rows=1000 width=21)',),
 ('                          ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=21)',)]

In [12]:
%%sql

SELECT name, title, length, RANK
FROM (
    SELECT name, title, length,
    RANK() OVER (PARTITION BY name ORDER BY length DESC)
    FROM category
    JOIN film_category USING (category_id)
    JOIN film USING (film_id)
) AS a
WHERE RANK <= 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
53 rows affected.

[('Action', 'Worst Banger', 185, 1),
 ('Action', 'Darn Forrester', 185, 1),
 ('Action', 'Casualties Encino', 179, 3),
 ('Animation', 'Pond Seattle', 185, 1),
 ('Animation', 'Gangs Pride', 185, 1),
 ('Animation', 'Theory Mermaid', 184, 3),
 ('Animation', 'Sons Interview', 184, 3),
 ('Children', 'Wrong Behavior', 178, 1),
 ('Children', 'Fury Murder', 178, 1),
 ('Children', 'Empire Malkovich', 177, 3),
 ('Classics', 'Conspiracy Spirit', 184, 1),
 ('Classics', 'Dracula Crystal', 176, 2),
 ('Classics', 'Lights Deer', 174, 3),
 ('Comedy', 'Control Anthem', 185, 1),
 ('Comedy', 'Saturn Name', 182, 2),
 ('Comedy', 'Searchers Wait', 182, 2),
 ('Documentary', 'Young Language', 183, 1),
 ('Documentary', 'Wife Turn', 183, 1),
 ('Documentary', 'Cause Date', 179, 3),
 ('Drama', 'Jacket Frisco', 181, 1),
 ('Drama', 'Something Duck', 180, 2),
 ('Drama', 'Slacker Liaisons', 179, 3),
 ('Drama', 'Torque Bound', 179, 3),
 ('Drama', 'Virgin Daisy', 179, 3),
 ('Family', 'King Evolution', 184, 1),
 ('Family', 'Baked Cleopatra', 182, 2),
 ('Family', 'Manchurian Curtain', 177, 3),
 ('Foreign', 'Crystal Breaking', 184, 1),
 ('Foreign', 'Sorority Queen', 184, 1),
 ('Foreign', 'Catch Amistad', 183, 3),
 ('Games', 'Chicago North', 185, 1),
 ('Games', 'Moonwalker Fool', 184, 2),
 ('Games', 'Monsoon Cause', 182, 3),
 ('Horror', 'Love Suicides', 181, 1),
 ('Horror', 'Analyze Hoosiers', 181, 1),
 ('Horror', 'Texas Watch', 179, 3),
 ('Music', 'Home Pity', 185, 1),
 ('Music', 'Scalawag Duck', 183, 2),
 ('Music', 'Reds Pocus', 182, 3),
 ('New', 'Frontier Cabin', 183, 1),
 ('New', 'Wild Apollo', 181, 2),
 ('New', 'Runaway Tenenbaums', 181, 2),
 ('Sci-Fi', 'Soldiers Evolution', 185, 1),
 ('Sci-Fi', 'Express Lonely', 178, 2),
 ('Sci-Fi', 'Eyes Driving', 172, 3),
 ('Sci-Fi', 'Connecticut Tramp', 172, 3),
 ('Sports', 'Smoochy Control', 184, 1),
 ('Sports', 'Records Zorro', 182, 2),
 ('Sports', 'Star Operation', 181, 3),
 ('Travel', 'Sweet Brotherhood', 185, 1),
 ('Travel', 'Muscle Bright', 185, 1),
 ('Travel', 'Kick Savannah', 179, 3),
 ('Travel', 'Born Spinal', 179, 3)]

# 4

### For each customer, list their two shortest movie rentals.

In [16]:
%%sql
EXPLAIN

SELECT customer_id, first_name, last_name, duration, rank
FROM (
    SELECT c.customer_id, c.first_name, c.last_name, (r.return_date - r.rental_date) AS duration,
    RANK() OVER (PARTITION BY c.customer_id ORDER BY (r.return_date - r.rental_date))
    FROM customer c
    JOIN rental r USING (customer_id)
) AS a
WHERE RANK <=2

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
10 rows affected.

[('Subquery Scan on a  (cost=1536.10..2097.64 rows=5348 width=41)',),
 ('  Filter: (a.rank <= 2)',),
 ('  ->  WindowAgg  (cost=1536.10..1897.09 rows=16044 width=41)',),
 ('        ->  Sort  (cost=1536.10..1576.21 rows=16044 width=33)',),
 ('              Sort Key: c.customer_id, ((r.return_date - r.rental_date))',),
 ('              ->  Hash Join  (cost=22.48..415.44 rows=16044 width=33)',),
 ('                    Hash Cond: (r.customer_id = c.customer_id)',),
 ('                    ->  Seq Scan on rental r  (cost=0.00..310.44 rows=16044 width=18)',),
 ('                    ->  Hash  (cost=14.99..14.99 rows=599 width=17)',),
 ('                          ->  Seq Scan on customer c  (cost=0.00..14.99 rows=599 width=17)',)]

In [17]:
%%sql

SELECT customer_id, first_name, last_name, duration, rank
FROM (
    SELECT c.customer_id, c.first_name, c.last_name, (r.return_date - r.rental_date) AS duration,
    RANK() OVER (PARTITION BY c.customer_id ORDER BY (r.return_date - r.rental_date))
    FROM customer c
    JOIN rental r USING (customer_id)
) AS a
WHERE RANK <=2

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1198 rows affected.

[(1, 'Mary', 'Smith', datetime.timedelta(days=1, seconds=7020), 1),
 (1, 'Mary', 'Smith', datetime.timedelta(days=1, seconds=9840), 2),
 (2, 'Patricia', 'Johnson', datetime.timedelta(seconds=69180), 1),
 (2, 'Patricia', 'Johnson', datetime.timedelta(days=1, seconds=15660), 2),
 (3, 'Linda', 'Williams', datetime.timedelta(seconds=70380), 1),
 (3, 'Linda', 'Williams', datetime.timedelta(days=1, seconds=18120), 2),
 (4, 'Barbara', 'Jones', datetime.timedelta(seconds=85080), 1),
 (4, 'Barbara', 'Jones', datetime.timedelta(days=1, seconds=11040), 2),
 (5, 'Elizabeth', 'Brown', datetime.timedelta(seconds=72600), 1),
 (5, 'Elizabeth', 'Brown', datetime.timedelta(seconds=78540), 2),
 (6, 'Jennifer', 'Davis', datetime.timedelta(seconds=78060), 1),
 (6, 'Jennifer', 'Davis', datetime.timedelta(days=1, seconds=20280), 2),
 (7, 'Maria', 'Miller', datetime.timedelta(days=1, seconds=72840), 1),
 (7, 'Maria', 'Miller', datetime.timedelta(days=2, seconds=11700), 2),
 (8, 'Susan', 'Wilson', datetime.timedelta(days=1, seconds=4860), 1),
 (8, 'Susan', 'Wilson', datetime.timedelta(days=1, seconds=15480), 2),
 (9, 'Margaret', 'Moore', datetime.timedelta(days=1, seconds=73320), 1),
 (9, 'Margaret', 'Moore', datetime.timedelta(days=1, seconds=81000), 2),
 (10, 'Dorothy', 'Taylor', datetime.timedelta(days=1, seconds=8400), 1),
 (10, 'Dorothy', 'Taylor', datetime.timedelta(days=1, seconds=18660), 2),
 (11, 'Lisa', 'Anderson', datetime.timedelta(seconds=76920), 1),
 (11, 'Lisa', 'Anderson', datetime.timedelta(days=1, seconds=5940), 2),
 (12, 'Nancy', 'Thomas', datetime.timedelta(seconds=65280), 1),
 (12, 'Nancy', 'Thomas', datetime.timedelta(seconds=84300), 2),
 (13, 'Karen', 'Jackson', datetime.timedelta(days=1, seconds=11520), 1),
 (13, 'Karen', 'Jackson', datetime.timedelta(days=1, seconds=67440), 2),
 (14, 'Betty', 'White', datetime.timedelta(seconds=76500), 1),
 (14, 'Betty', 'White', datetime.timedelta(seconds=82020), 2),
 (15, 'Helen', 'Harris', datetime.timedelta(seconds=79680), 1),
 (15, 'Helen', 'Harris', datetime.timedelta(days=1, seconds=2040), 2),
 (16, 'Sandra', 'Martin', datetime.timedelta(seconds=84600), 1),
 (16, 'Sandra', 'Martin', datetime.timedelta(days=1, seconds=1260), 2),
 (17, 'Donna', 'Thompson', datetime.timedelta(seconds=75240), 1),
 (17, 'Donna', 'Thompson', datetime.timedelta(seconds=75720), 2),
 (18, 'Carol', 'Garcia', datetime.timedelta(seconds=68640), 1),
 (18, 'Carol', 'Garcia', datetime.timedelta(seconds=75360), 2),
 (19, 'Ruth', 'Martinez', datetime.timedelta(seconds=69360), 1),
 (19, 'Ruth', 'Martinez', datetime.timedelta(seconds=76380), 2),
 (20, 'Sharon', 'Robinson', datetime.timedelta(seconds=67200), 1),
 (20, 'Sharon', 'Robinson', datetime.timedelta(days=1, seconds=5520), 2),
 (21, 'Michelle', 'Clark', datetime.timedelta(days=1, seconds=5940), 1),
 (21, 'Michelle', 'Clark', datetime.timedelta(days=1, seconds=7500), 2),
 (22, 'Laura', 'Rodriguez', datetime.timedelta(seconds=78600), 1),
 (22, 'Laura', 'Rodriguez', datetime.timedelta(seconds=83940), 2),
 (23, 'Sarah', 'Lewis', datetime.timedelta(seconds=79440), 1),
 (23, 'Sarah', 'Lewis', datetime.timedelta(seconds=80460), 2),
 (24, 'Kimberly', 'Lee', datetime.timedelta(seconds=74820), 1),
 (24, 'Kimberly', 'Lee', datetime.timedelta(days=1, seconds=12120), 2),
 (25, 'Deborah', 'Walker', datetime.timedelta(seconds=75900), 1),
 (25, 'Deborah', 'Walker', datetime.timedelta(days=1, seconds=75780), 2),
 (26, 'Jessica', 'Hall', datetime.timedelta(seconds=70560), 1),
 (26, 'Jessica', 'Hall', datetime.timedelta(days=1, seconds=2880), 2),
 (27, 'Shirley', 'Allen', datetime.timedelta(seconds=74880), 1),
 (27, 'Shirley', 'Allen', datetime.timedelta(days=1, seconds=17340), 2),
 (28, 'Cynthia', 'Young', datetime.timedelta(seconds=65700), 1),
 (28, 'Cynthia', 'Young', datetime.timedelta(seconds=67320), 2),
 (29, 'Angela', 'Hernandez', datetime.timedelta(seconds=65520), 1),
 (29, 'Angela', 'Hernandez', datetime.timedelta(days=1, seconds=2880), 2),
 (30, 'Melissa', 'King', datetime.timedelta(seconds=86280), 1),
 (30, 'Melissa', 'King', datetime.timedelta(days=1, seconds=900), 2),
 (31, 'Brenda', 'Wright', datetime.timedelta(seconds=79860), 1),
 (31, 'Brenda', 'Wright', datetime.timedelta(seconds=80160), 2),
 (32, 'Amy', 'Lopez', datetime.timedelta(seconds=74580), 1),
 (32, 'Amy', 'Lopez', datetime.timedelta(seconds=75780), 2),
 (33, 'Anna', 'Hill', datetime.timedelta(seconds=70380), 1),
 (33, 'Anna', 'Hill', datetime.timedelta(seconds=70860), 2),
 (34, 'Rebecca', 'Scott', datetime.timedelta(seconds=66180), 1),
 (34, 'Rebecca', 'Scott', datetime.timedelta(seconds=81600), 2),
 (35, 'Virginia', 'Green', datetime.timedelta(seconds=66120), 1),
 (35, 'Virginia', 'Green', datetime.timedelta(seconds=70080), 2),
 (36, 'Kathleen', 'Adams', datetime.timedelta(seconds=66420), 1),
 (36, 'Kathleen', 'Adams', datetime.timedelta(days=1, seconds=6000), 2),
 (37, 'Pamela', 'Baker', datetime.timedelta(seconds=79740), 1),
 (37, 'Pamela', 'Baker', datetime.timedelta(days=1, seconds=12780), 2),
 (38, 'Martha', 'Gonzalez', datetime.timedelta(seconds=65880), 1),
 (38, 'Martha', 'Gonzalez', datetime.timedelta(seconds=80160), 2),
 (39, 'Debra', 'Nelson', datetime.timedelta(seconds=75120), 1),
 (39, 'Debra', 'Nelson', datetime.timedelta(days=1, seconds=13500), 2),
 (40, 'Amanda', 'Carter', datetime.timedelta(seconds=85440), 1),
 (40, 'Amanda', 'Carter', datetime.timedelta(days=2, seconds=8640), 2),
 (41, 'Stephanie', 'Mitchell', datetime.timedelta(days=1, seconds=9660), 1),
 (41, 'Stephanie', 'Mitchell', datetime.timedelta(days=1, seconds=12480), 2),
 (42, 'Carolyn', 'Perez', datetime.timedelta(seconds=66600), 1),
 (42, 'Carolyn', 'Perez', datetime.timedelta(seconds=66960), 2),
 (43, 'Christine', 'Roberts', datetime.timedelta(seconds=67740), 1),
 (43, 'Christine', 'Roberts', datetime.timedelta(seconds=78780), 2),
 (44, 'Marie', 'Turner', datetime.timedelta(seconds=73380), 1),
 (44, 'Marie', 'Turner', datetime.timedelta(seconds=77880), 2),
 (45, 'Janet', 'Phillips', datetime.timedelta(seconds=77460), 1),
 (45, 'Janet', 'Phillips', datetime.timedelta(days=1, seconds=6060), 2),
 (46, 'Catherine', 'Campbell', datetime.timedelta(seconds=73140), 1),
 (46, 'Catherine', 'Campbell', datetime.timedelta(seconds=74940), 2),
 (47, 'Frances', 'Parker', datetime.timedelta(days=1, seconds=5280), 1),
 (47, 'Frances', 'Parker', datetime.timedelta(days=1, seconds=14160), 2),
 (48, 'Ann', 'Evans', datetime.timedelta(seconds=83040), 1),
 (48, 'Ann', 'Evans', datetime.timedelta(days=2, seconds=16620), 2),
 (49, 'Joyce', 'Edwards', datetime.timedelta(days=1, seconds=8160), 1),
 (49, 'Joyce', 'Edwards', datetime.timedelta(days=1, seconds=11880), 2),
 (50, 'Diane', 'Collins', datetime.timedelta(seconds=68220), 1),
 (50, 'Diane', 'Collins', datetime.timedelta(seconds=81600), 2),
 (51, 'Alice', 'Stewart', datetime.timedelta(days=1, seconds=180), 1),
 (51, 'Alice', 'Stewart', datetime.timedelta(days=1, seconds=78000), 2),
 (52, 'Julie', 'Sanchez', datetime.timedelta(seconds=66900), 1),
 (52, 'Julie', 'Sanchez', datetime.timedelta(days=1, seconds=66360), 2),
 (53, 'Heather', 'Morris', datetime.timedelta(seconds=85200), 1),
 (53, 'Heather', 'Morris', datetime.timedelta(days=1, seconds=11820), 2),
 (54, 'Teresa', 'Rogers', datetime.timedelta(seconds=73020), 1),
 (54, 'Teresa', 'Rogers', datetime.timedelta(seconds=85080), 2),
 (55, 'Doris', 'Reed', datetime.timedelta(seconds=66840), 1),
 (55, 'Doris', 'Reed', datetime.timedelta(seconds=74520), 2),
 (56, 'Gloria', 'Cook', datetime.timedelta(seconds=79260), 1),
 (56, 'Gloria', 'Cook', datetime.timedelta(days=1, seconds=10920), 2),
 (57, 'Evelyn', 'Morgan', datetime.timedelta(seconds=69840), 1),
 (57, 'Evelyn', 'Morgan', datetime.timedelta(seconds=79980), 2),
 (58, 'Jean', 'Bell', datetime.timedelta(seconds=70740), 1),
 (58, 'Jean', 'Bell', datetime.timedelta(seconds=75300), 2),
 (59, 'Cheryl', 'Murphy', datetime.timedelta(days=1, seconds=1200), 1),
 (59, 'Cheryl', 'Murphy', datetime.timedelta(days=1, seconds=10260), 2),
 (60, 'Mildred', 'Bailey', datetime.timedelta(seconds=67020), 1),
 (60, 'Mildred', 'Bailey', datetime.timedelta(seconds=71340), 2),
 (61, 'Katherine', 'Rivera', datetime.timedelta(seconds=65940), 1),
 (61, 'Katherine', 'Rivera', datetime.timedelta(days=1, seconds=69240), 2),
 (62, 'Joan', 'Cooper', datetime.timedelta(seconds=69060), 1),
 (62, 'Joan', 'Cooper', datetime.timedelta(days=1, seconds=6840), 2),
 (63, 'Ashley', 'Richardson', datetime.timedelta(seconds=74580), 1),
 (63, 'Ashley', 'Richardson', datetime.timedelta(days=2, seconds=20280), 2),
 (64, 'Judith', 'Cox', datetime.timedelta(days=1, seconds=17460), 1),
 (64, 'Judith', 'Cox', datetime.timedelta(days=1, seconds=19140), 2),
 (65, 'Rose', 'Howard', datetime.timedelta(seconds=72600), 1),
 (65, 'Rose', 'Howard', datetime.timedelta(seconds=78600), 2),
 (66, 'Janice', 'Ward', datetime.timedelta(days=1, seconds=14760), 1),
 (66, 'Janice', 'Ward', datetime.timedelta(days=1, seconds=68760), 2),
 (67, 'Kelly', 'Torres', datetime.timedelta(seconds=65760), 1),
 (67, 'Kelly', 'Torres', datetime.timedelta(seconds=81480), 2),
 (68, 'Nicole', 'Peterson', datetime.timedelta(seconds=69420), 1),
 (68, 'Nicole', 'Peterson', datetime.timedelta(seconds=82980), 2),
 (69, 'Judy', 'Gray', datetime.timedelta(days=1, seconds=1860), 1),
 (69, 'Judy', 'Gray', datetime.timedelta(days=2, seconds=73920), 2),
 (70, 'Christina', 'Ramirez', datetime.timedelta(seconds=75240), 1),
 (70, 'Christina', 'Ramirez', datetime.timedelta(days=1, seconds=13980), 2),
 (71, 'Kathy', 'James', datetime.timedelta(seconds=70680), 1),
 (71, 'Kathy', 'James', datetime.timedelta(seconds=82740), 2),
 (72, 'Theresa', 'Watson', datetime.timedelta(seconds=79500), 1),
 (72, 'Theresa', 'Watson', datetime.timedelta(days=1, seconds=2580), 2),
 (73, 'Beverly', 'Brooks', datetime.timedelta(seconds=72300), 1),
 (73, 'Beverly', 'Brooks', datetime.timedelta(seconds=73740), 2),
 (74, 'Denise', 'Kelly', datetime.timedelta(seconds=68220), 1),
 (74, 'Denise', 'Kelly', datetime.timedelta(days=1, seconds=75000), 2),
 (75, 'Tammy', 'Sanders', datetime.timedelta(seconds=80160), 1),
 (75, 'Tammy', 'Sanders', datetime.timedelta(seconds=81540), 2),
 (76, 'Irene', 'Price', datetime.timedelta(seconds=70320), 1),
 (76, 'Irene', 'Price', datetime.timedelta(seconds=80460), 2),
 (77, 'Jane', 'Bennett', datetime.timedelta(days=1, seconds=3840), 1),
 (77, 'Jane', 'Bennett', datetime.timedelta(days=1, seconds=4380), 2),
 (78, 'Lori', 'Wood', datetime.timedelta(seconds=76140), 1),
 (78, 'Lori', 'Wood', datetime.timedelta(days=1, seconds=75900), 2),
 (79, 'Rachel', 'Barnes', datetime.timedelta(seconds=80880), 1),
 (79, 'Rachel', 'Barnes', datetime.timedelta(days=1, seconds=5580), 2),
 (80, 'Marilyn', 'Ross', datetime.timedelta(seconds=86040), 1),
 (80, 'Marilyn', 'Ross', datetime.timedelta(days=1, seconds=7020), 2),
 (81, 'Andrea', 'Henderson', datetime.timedelta(seconds=71280), 1),
 (81, 'Andrea', 'Henderson', datetime.timedelta(days=1, seconds=2100), 2),
 (82, 'Kathryn', 'Coleman', datetime.timedelta(days=1, seconds=81360), 1),
 (82, 'Kathryn', 'Coleman', datetime.timedelta(days=2, seconds=1020), 2),
 (83, 'Louise', 'Jenkins', datetime.timedelta(seconds=71820), 1),
 (83, 'Louise', 'Jenkins', datetime.timedelta(seconds=72360), 2),
 (84, 'Sara', 'Perry', datetime.timedelta(seconds=69660), 1),
 (84, 'Sara', 'Perry', datetime.timedelta(seconds=75840), 2),
 (85, 'Anne', 'Powell', datetime.timedelta(seconds=66360), 1),
 (85, 'Anne', 'Powell', datetime.timedelta(seconds=68220), 2),
 (86, 'Jacqueline', 'Long', datetime.timedelta(seconds=70680), 1),
 (86, 'Jacqueline', 'Long', datetime.timedelta(seconds=75720), 2),
 (87, 'Wanda', 'Patterson', datetime.timedelta(seconds=69060), 1),
 (87, 'Wanda', 'Patterson', datetime.timedelta(seconds=69900), 2),
 (88, 'Bonnie', 'Hughes', datetime.timedelta(seconds=74640), 1),
 (88, 'Bonnie', 'Hughes', datetime.timedelta(days=1, seconds=73860), 2),
 (89, 'Julia', 'Flores', datetime.timedelta(days=1, seconds=15420), 1),
 (89, 'Julia', 'Flores', datetime.timedelta(days=1, seconds=66480), 2),
 (90, 'Ruby', 'Washington', datetime.timedelta(seconds=66480), 1),
 (90, 'Ruby', 'Washington', datetime.timedelta(seconds=72660), 2),
 (91, 'Lois', 'Butler', datetime.timedelta(days=1, seconds=12300), 1),
 (91, 'Lois', 'Butler', datetime.timedelta(days=1, seconds=66420), 2),
 (92, 'Tina', 'Simmons', datetime.timedelta(days=1, seconds=68340), 1),
 (92, 'Tina', 'Simmons', datetime.timedelta(days=1, seconds=69300), 2),
 (93, 'Phyllis', 'Foster', datetime.timedelta(seconds=72960), 1),
 (93, 'Phyllis', 'Foster', datetime.timedelta(seconds=85980), 2),
 (94, 'Norma', 'Gonzales', datetime.timedelta(seconds=66420), 1),
 (94, 'Norma', 'Gonzales', datetime.timedelta(days=1, seconds=3900), 2),
 (95, 'Paula', 'Bryant', datetime.timedelta(days=1, seconds=78300), 1),
 (95, 'Paula', 'Bryant', datetime.timedelta(days=2, seconds=600), 2),
 (96, 'Diana', 'Alexander', datetime.timedelta(seconds=76920), 1),
 (96, 'Diana', 'Alexander', datetime.timedelta(days=1, seconds=20280), 2),
 (97, 'Annie', 'Russell', datetime.timedelta(seconds=68760), 1),
 (97, 'Annie', 'Russell', datetime.timedelta(days=1, seconds=4620), 2),
 (98, 'Lillian', 'Griffin', datetime.timedelta(seconds=84180), 1),
 (98, 'Lillian', 'Griffin', datetime.timedelta(days=1, seconds=6840), 2),
 (99, 'Emily', 'Diaz', datetime.timedelta(seconds=74460), 1),
 (99, 'Emily', 'Diaz', datetime.timedelta(seconds=82080), 2),
 (100, 'Robin', 'Hayes', datetime.timedelta(seconds=65760), 1),
 (100, 'Robin', 'Hayes', datetime.timedelta(seconds=77400), 2),
 (101, 'Peggy', 'Myers', datetime.timedelta(seconds=79200), 1),
 (101, 'Peggy', 'Myers', datetime.timedelta(days=1, seconds=14700), 2),
 (102, 'Crystal', 'Ford', datetime.timedelta(days=1, seconds=66480), 1),
 (102, 'Crystal', 'Ford', datetime.timedelta(days=1, seconds=77040), 2),
 (103, 'Gladys', 'Hamilton', datetime.timedelta(seconds=79620), 1),
 (103, 'Gladys', 'Hamilton', datetime.timedelta(seconds=85260), 2),
 (104, 'Rita', 'Graham', datetime.timedelta(seconds=64920), 1),
 (104, 'Rita', 'Graham', datetime.timedelta(seconds=70440), 2),
 (105, 'Dawn', 'Sullivan', datetime.timedelta(seconds=82800), 1),
 (105, 'Dawn', 'Sullivan', datetime.timedelta(days=1, seconds=13800), 2),
 (106, 'Connie', 'Wallace', datetime.timedelta(seconds=78180), 1),
 (106, 'Connie', 'Wallace', datetime.timedelta(days=1, seconds=1500), 2),
 (107, 'Florence', 'Woods', datetime.timedelta(days=1, seconds=17580), 1),
 (107, 'Florence', 'Woods', datetime.timedelta(days=1, seconds=20340), 2),
 (108, 'Tracy', 'Cole', datetime.timedelta(seconds=65280), 1),
 (108, 'Tracy', 'Cole', datetime.timedelta(days=2, seconds=2220), 2),
 (109, 'Edna', 'West', datetime.timedelta(seconds=85620), 1),
 (109, 'Edna', 'West', datetime.timedelta(seconds=86220), 2),
 (110, 'Tiffany', 'Jordan', datetime.timedelta(days=1, seconds=2040), 1),
 (110, 'Tiffany', 'Jordan', datetime.timedelta(days=1, seconds=14640), 2),
 (111, 'Carmen', 'Owens', datetime.timedelta(seconds=66960), 1),
 (111, 'Carmen', 'Owens', datetime.timedelta(seconds=70140), 2),
 (112, 'Rosa', 'Reynolds', datetime.timedelta(seconds=83580), 1),
 (112, 'Rosa', 'Reynolds', datetime.timedelta(days=1, seconds=64860), 2),
 (113, 'Cindy', 'Fisher', datetime.timedelta(seconds=76320), 1),
 (113, 'Cindy', 'Fisher', datetime.timedelta(days=1, seconds=10500), 2),
 (114, 'Grace', 'Ellis', datetime.timedelta(seconds=66240), 1),
 (114, 'Grace', 'Ellis', datetime.timedelta(seconds=78780), 2),
 (115, 'Wendy', 'Harrison', datetime.timedelta(seconds=77280), 1),
 (115, 'Wendy', 'Harrison', datetime.timedelta(days=1, seconds=85080), 2),
 (116, 'Victoria', 'Gibson', datetime.timedelta(seconds=66360), 1),
 (116, 'Victoria', 'Gibson', datetime.timedelta(seconds=79260), 2),
 (117, 'Edith', 'Mcdonald', datetime.timedelta(seconds=77580), 1),
 (117, 'Edith', 'Mcdonald', datetime.timedelta(seconds=79080), 2),
 (118, 'Kim', 'Cruz', datetime.timedelta(seconds=71160), 1),
 (118, 'Kim', 'Cruz', datetime.timedelta(days=1, seconds=17760), 2),
 (119, 'Sherry', 'Marshall', datetime.timedelta(seconds=76680), 1),
 (119, 'Sherry', 'Marshall', datetime.timedelta(seconds=78360), 2),
 (120, 'Sylvia', 'Ortiz', datetime.timedelta(days=1, seconds=73020), 1),
 (120, 'Sylvia', 'Ortiz', datetime.timedelta(days=1, seconds=77820), 2),
 (121, 'Josephine', 'Gomez', datetime.timedelta(seconds=73980), 1),
 (121, 'Josephine', 'Gomez', datetime.timedelta(days=1, seconds=5880), 2),
 (122, 'Thelma', 'Murray', datetime.timedelta(seconds=70140), 1),
 (122, 'Thelma', 'Murray', datetime.timedelta(seconds=76920), 2),
 (123, 'Shannon', 'Freeman', datetime.timedelta(seconds=69120), 1),
 (123, 'Shannon', 'Freeman', datetime.timedelta(seconds=69300), 2),
 (124, 'Sheila', 'Wells', datetime.timedelta(seconds=66600), 1),
 (124, 'Sheila', 'Wells', datetime.timedelta(seconds=82620), 2),
 (125, 'Ethel', 'Webb', datetime.timedelta(days=1, seconds=68760), 1),
 (125, 'Ethel', 'Webb', datetime.timedelta(days=1, seconds=70560), 2),
 (126, 'Ellen', 'Simpson', datetime.timedelta(seconds=69960), 1),
 (126, 'Ellen', 'Simpson', datetime.timedelta(seconds=74640), 2),
 (127, 'Elaine', 'Stevens', datetime.timedelta(seconds=65040), 1),
 (127, 'Elaine', 'Stevens', datetime.timedelta(days=1, seconds=4440), 2),
 (128, 'Marjorie', 'Tucker', datetime.timedelta(seconds=80520), 1),
 (128, 'Marjorie', 'Tucker', datetime.timedelta(days=1, seconds=5340), 2),
 (129, 'Carrie', 'Porter', datetime.timedelta(seconds=79080), 1),
 (129, 'Carrie', 'Porter', datetime.timedelta(days=1, seconds=5040), 2),
 (130, 'Charlotte', 'Hunter', datetime.timedelta(seconds=65940), 1),
 (130, 'Charlotte', 'Hunter', datetime.timedelta(seconds=68100), 2),
 (131, 'Monica', 'Hicks', datetime.timedelta(seconds=65880), 1),
 (131, 'Monica', 'Hicks', datetime.timedelta(seconds=70440), 2),
 (132, 'Esther', 'Crawford', datetime.timedelta(seconds=75180), 1),
 (132, 'Esther', 'Crawford', datetime.timedelta(days=1, seconds=780), 2),
 (133, 'Pauline', 'Henry', datetime.timedelta(days=1, seconds=7080), 1),
 (133, 'Pauline', 'Henry', datetime.timedelta(days=1, seconds=13140), 2),
 (134, 'Emma', 'Boyd', datetime.timedelta(seconds=75960), 1),
 (134, 'Emma', 'Boyd', datetime.timedelta(seconds=81600), 2),
 (135, 'Juanita', 'Mason', datetime.timedelta(seconds=71100), 1),
 (135, 'Juanita', 'Mason', datetime.timedelta(days=1, seconds=3240), 2),
 (136, 'Anita', 'Morales', datetime.timedelta(days=1, seconds=20040), 1),
 (136, 'Anita', 'Morales', datetime.timedelta(days=1, seconds=76320), 2),
 (137, 'Rhonda', 'Kennedy', datetime.timedelta(seconds=78300), 1),
 (137, 'Rhonda', 'Kennedy', datetime.timedelta(seconds=86160), 2),
 (138, 'Hazel', 'Warren', datetime.timedelta(seconds=72300), 1),
 (138, 'Hazel', 'Warren', datetime.timedelta(seconds=74160), 2),
 (139, 'Amber', 'Dixon', datetime.timedelta(days=1, seconds=15600), 1),
 (139, 'Amber', 'Dixon', datetime.timedelta(days=2, seconds=780), 2),
 (140, 'Eva', 'Ramos', datetime.timedelta(seconds=66720), 1),
 (140, 'Eva', 'Ramos', datetime.timedelta(days=1, seconds=65340), 2),
 (141, 'Debbie', 'Reyes', datetime.timedelta(seconds=80100), 1),
 (141, 'Debbie', 'Reyes', datetime.timedelta(days=1, seconds=3300), 2),
 (142, 'April', 'Burns', datetime.timedelta(days=1, seconds=7320), 1),
 (142, 'April', 'Burns', datetime.timedelta(days=1, seconds=70800), 2),
 (143, 'Leslie', 'Gordon', datetime.timedelta(seconds=68700), 1),
 (143, 'Leslie', 'Gordon', datetime.timedelta(days=1, seconds=3660), 2),
 (144, 'Clara', 'Shaw', datetime.timedelta(seconds=64800), 1),
 (144, 'Clara', 'Shaw', datetime.timedelta(seconds=79800), 2),
 (145, 'Lucille', 'Holmes', datetime.timedelta(seconds=84600), 1),
 (145, 'Lucille', 'Holmes', datetime.timedelta(days=1, seconds=780), 2),
 (146, 'Jamie', 'Rice', datetime.timedelta(days=1, seconds=7620), 1),
 (146, 'Jamie', 'Rice', datetime.timedelta(days=1, seconds=16860), 2),
 (147, 'Joanne', 'Robertson', datetime.timedelta(seconds=84000), 1),

# 5

### List the quartile statististics of the movie lengths, grouped by release year.

In [19]:
%%sql
EXPLAIN

SELECT release_year,
percentile_cont(0.25) WITHIN GROUP (ORDER BY length) AS first_quartile,
percentile_cont(0.5) WITHIN GROUP (ORDER BY length) AS median,
percentile_cont(0.75) WITHIN GROUP (ORDER BY length) AS third_quartile
FROM film
GROUP BY release_year

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
5 rows affected.

[('GroupAggregate  (cost=113.83..133.85 rows=1 width=28)',),
 ('  Group Key: release_year',),
 ('  ->  Sort  (cost=113.83..116.33 rows=1000 width=6)',),
 ('        Sort Key: release_year',),
 ('        ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=6)',)]

In [20]:
%%sql

SELECT release_year,
percentile_cont(0.25) WITHIN GROUP (ORDER BY length) AS first_quartile,
percentile_cont(0.5) WITHIN GROUP (ORDER BY length) AS median,
percentile_cont(0.75) WITHIN GROUP (ORDER BY length) AS third_quartile
FROM film
GROUP BY release_year

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(2006, 80.0, 114.0, 149.25)]

# Save your notebook, then `File > Close and Halt`