# Database Functions

In this practice, you will create a couple more functions for your Survey tables.

----

<div class="row">
<div class="col-md-6">

<p>  
<strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>


<strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

----

### Recall the general structure of the PostgreSQL function.

```
CREATE FUNCTION function_name(... arguments and data types ...)
RETURNS return_datatype
as
$$
DECLARE
   ... function local variables ... ;
BEGIN
   ... body of logic ...

   RETURN result_value;
END;
$$
LANGUAGE plpgsql;
```

See full documentation at: http://www.postgresql.cn/docs/10/sql-createfunction.html

**Connect to the database:**

In [2]:
# Initialize some variables
SSO="bmgwd9"
hostname='pgsql.dsa.lan'
database='dsa_student'
SSO = 'bmgwd9'

In [3]:
# Read the Password into mem for a moment
import getpass
read_password = getpass.getpass("Type Password and hit enter")

Type Password and hit enter········

In [4]:
connection_string = f"postgres://{SSO}:{read_password}@{hostname}/{database}"

In [5]:
%load_ext sql
%sql $connection_string

'Connected: bmgwd9@dsa_student'

## 1  Create the `totalSites` function in your database schema.

1. Update the below function, then use the terminal to define it.
2. Then, show the result of the `\df` command for your function. 
3. Finally, run the function with the `SELECT` command.

**Step 1: Create function**

In [6]:
%%sql

CREATE OR REPLACE FUNCTION totalSites()
RETURNS integer AS 
$$
DECLARE
    total integer;   -- define a variable total with a data type
BEGIN
   SELECT count(*) INTO total FROM site;   -- Note INTO operator
   RETURN total;
END;
$$ 
LANGUAGE plpgsql;

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

**Step 2: Probe information_schema.routines catalog to verify the function**

In [7]:
%%sql

-- select * 
select routine_schema, routine_name, routine_type, routine_definition
from information_schema.routines
where routine_name = 'totalsites'

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
38 rows affected.

[('khx3p', 'totalsites', 'FUNCTION', None),
 ('jjbtg6', 'totalsites', 'FUNCTION', None),
 ('ssdn4', 'totalsites', 'FUNCTION', None),
 ('steinn', 'totalsites', 'FUNCTION', None),
 ('dcphw2', 'totalsites', 'FUNCTION', None),
 ('bbb9hy', 'totalsites', 'FUNCTION', None),
 ('ccs3hv', 'totalsites', 'FUNCTION', None),
 ('mmxyb', 'totalsites', 'FUNCTION', None),
 ('ct3dg', 'totalsites', 'FUNCTION', None),
 ('jyymn', 'totalsites', 'FUNCTION', None),
 ('kenp73', 'totalsites', 'FUNCTION', None),
 ('tmbkg4', 'totalsites', 'FUNCTION', None),
 ('eugcb', 'totalsites', 'FUNCTION', None),
 ('dlmtk8', 'totalsites', 'FUNCTION', None),
 ('ladpf', 'totalsites', 'FUNCTION', None),
 ('sechrista', 'totalsites', 'FUNCTION', None),
 ('liup1', 'totalsites', 'FUNCTION', None),
 ('mk7zp', 'totalsites', 'FUNCTION', None),
 ('kg37m', 'totalsites', 'FUNCTION', None),
 ('dgyw5', 'totalsites', 'FUNCTION', None),
 ('bwc64b', 'totalsites', 'FUNCTION', None),
 ('avgnzd', 'totalsites', 'FUNCTION', None),
 ('tmsn4h', 'totalsites', 'FUNCTION', None),
 ('zembmn', 'totalsites', 'FUNCTION', None),
 ('clayb2', 'totalsites', 'FUNCTION', None),
 ('mb2dw', 'totalsites', 'FUNCTION', None),
 ('gpt8g6', 'totalsites', 'FUNCTION', None),
 ('nfe9r6', 'totalsites', 'FUNCTION', None),
 ('waq7g', 'totalsites', 'FUNCTION', None),
 ('jpsvf2', 'totalsites', 'FUNCTION', None),
 ('ctmpt', 'totalsites', 'FUNCTION', None),
 ('lcmhng', 'totalsites', 'FUNCTION', None),
 ('clwcvr', 'totalsites', 'FUNCTION', None),
 ('agm9kv', 'totalsites', 'FUNCTION', None),
 ('bakernj', 'totalsites', 'FUNCTION', None),
 ('vjlkm3', 'totalsites', 'FUNCTION', None),
 ('jldfbg', 'totalsites', 'FUNCTION', None),
 ('bmgwd9', 'totalsites', 'FUNCTION', '\nDECLARE\n    total integer;   -- define a variable total with a data type\nBEGIN\n   SELECT count(*) INTO total FROM site;   -- Note INTO operator\n   RETURN total;\nEND;\n')]

Or We can use psql to see the definition of the function

# 1.2 Show the \df

                          List of functions
 Schema |    Name    | Result data type | Argument data types | Type
--------+------------+------------------+---------------------+------
 bmgwd9 | totalsites | integer          |                     | func
(1 row)

**Step 3: Show the result of running the function**

In [8]:
%%sql

SELECT totalSites()

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(3,)]

## 2  Create the `totalReadingsForSite` function in your database schema.

1. Update the below function, then use the terminal to define it.
2. Then, show the result of the `\df` command for your function. 
3. Finally, run the function with the `SELECT` command.

### Note: We are now using a parameter variable in the function call!

#### Note: how the `p_site` variable is used within the SQL `SELECT ... INTO ....`

##### Think about how you expect the calling of the function to change since it has a parameter.

**Warning, if the function is called wrong, you may see:**
```
ERROR:  function totalreadingsforsite() does not exist
LINE 1: select totalreadingsforsite();
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.
```

**Step 1: Create function**

In [9]:
%%sql

CREATE OR REPLACE FUNCTION totalReadingsForSite(p_site text)
RETURNS integer AS 
$$
DECLARE
    total integer;   -- define a variable total with a data type
BEGIN
    SELECT count(*) INTO total
    FROM visited v JOIN survey s ON (v.id::int=s.taken::int)
    WHERE v.site = p_site;
    RETURN total;
END;
$$ 
LANGUAGE plpgsql;

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
Done.

[]

**Step 2: Probe information_schema.routines catalog to verify the function**

In [10]:
%%sql

SELECT routine_schema, routine_name, routine_type, routine_definition
FROM information_schema.routines
WHERE routine_name ilike 'totalReadingsForSite'

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
42 rows affected.

[('scottgs', 'totalreadingsforsite', 'FUNCTION', None),
 ('khx3p', 'totalreadingsforsite', 'FUNCTION', None),
 ('jjbtg6', 'totalreadingsforsite', 'FUNCTION', None),
 ('jjbtg6', 'totalreadingsforsite', 'FUNCTION', None),
 ('ssdn4', 'totalreadingsforsite', 'FUNCTION', None),
 ('steinn', 'totalreadingsforsite', 'FUNCTION', None),
 ('ajky9b', 'totalreadingsforsite', 'FUNCTION', None),
 ('ajky9b', 'totalreadingsforsite', 'FUNCTION', None),
 ('dcphw2', 'totalreadingsforsite', 'FUNCTION', None),
 ('ccs3hv', 'totalreadingsforsite', 'FUNCTION', None),
 ('bbb9hy', 'totalreadingsforsite', 'FUNCTION', None),
 ('mmxyb', 'totalreadingsforsite', 'FUNCTION', None),
 ('ct3dg', 'totalreadingsforsite', 'FUNCTION', None),
 ('jyymn', 'totalreadingsforsite', 'FUNCTION', None),
 ('kenp73', 'totalreadingsforsite', 'FUNCTION', None),
 ('tmbkg4', 'totalreadingsforsite', 'FUNCTION', None),
 ('eugcb', 'totalreadingsforsite', 'FUNCTION', None),
 ('dlmtk8', 'totalreadingsforsite', 'FUNCTION', None),
 ('ladpf', 'totalreadingsforsite', 'FUNCTION', None),
 ('sechrista', 'totalreadingsforsite', 'FUNCTION', None),
 ('liup1', 'totalreadingsforsite', 'FUNCTION', None),
 ('mk7zp', 'totalreadingsforsite', 'FUNCTION', None),
 ('kg37m', 'totalreadingsforsite', 'FUNCTION', None),
 ('dgyw5', 'totalreadingsforsite', 'FUNCTION', None),
 ('avgnzd', 'totalreadingsforsite', 'FUNCTION', None),
 ('bwc64b', 'totalreadingsforsite', 'FUNCTION', None),
 ('tmsn4h', 'totalreadingsforsite', 'FUNCTION', None),
 ('clayb2', 'totalreadingsforsite', 'FUNCTION', None),
 ('mb2dw', 'totalreadingsforsite', 'FUNCTION', None),
 ('clayb2', 'totalreadingsforsite', 'FUNCTION', None),
 ('nfe9r6', 'totalreadingsforsite', 'FUNCTION', None),
 ('gpt8g6', 'totalreadingsforsite', 'FUNCTION', None),
 ('waq7g', 'totalreadingsforsite', 'FUNCTION', None),
 ('jpsvf2', 'totalreadingsforsite', 'FUNCTION', None),
 ('ctmpt', 'totalreadingsforsite', 'FUNCTION', None),
 ('lcmhng', 'totalreadingsforsite', 'FUNCTION', None),
 ('clwcvr', 'totalreadingsforsite', 'FUNCTION', None),
 ('vjlkm3', 'totalreadingsforsite', 'FUNCTION', None),
 ('bakernj', 'totalreadingsforsite', 'FUNCTION', None),
 ('agm9kv', 'totalreadingsforsite', 'FUNCTION', None),
 ('jldfbg', 'totalreadingsforsite', 'FUNCTION', None),
 ('bmgwd9', 'totalreadingsforsite', 'FUNCTION', '\nDECLARE\n    total integer;   -- define a variable total with a data type\nBEGIN\n    SELECT count(*) INTO total\n    FROM visited v JOIN survey s ON (v.id::int=s.taken::int)\n    WHERE v.site = p_site;\n    RETURN total;\nEND;\n')]

Or We can use psql to see the definition of the function

# 1.2 Show the \df

                               List of functions
 Schema |         Name         | Result data type | Argument data types | Type
--------+----------------------+------------------+---------------------+------
 bmgwd9 | totalreadingsforsite | integer          | p_site text         | func
(1 row)

You should have something very similar to the below.

```
dsa_student=# \df SSO.totalreadingsforsite
                                List of functions
 Schema  |         Name         | Result data type | Argument data types |  Type
---------+----------------------+------------------+---------------------+--------
 SSO     | totalreadingsforsite | integer          | p_site text         | normal
(1 row)
```

**Step 3: Show the result of running the function**

In [12]:
%%sql

SELECT totalReadingsForSite('DR-1')

 * postgres://bmgwd9:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(5,)]

# Save your notebook, then `File > Close and Halt`